<?xml version="1.0" encoding="UTF-8"?>
  <Installer>
      <Name>Minos 2</Name>
      <Version>2.0.0</Version>
      <Title>Minos 2 Installer</Title>
      <Publisher>Minos</Publisher>
      <ProductUrl>http://minos.sourceforge.net/</ProductUrl>
      <StartMenuDir>Minos 2</StartMenuDir>
      <TargetDir>@ApplicationsDir@/Minos2</TargetDir>
  </Installer>